.alert-component {
    z-index: 9999999;
    position: fixed;
    bottom: 100px;
    left: 100px;
    background: white;
    padding: 30px 50px;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 700;
    box-shadow: 0px 0px 15px 1px #eee;
    opacity: 0;
    transform: translateX(-100%);
    transition: all 0.5s ease-in-out;
}

.open-alert {
    left: 20px;
    transition: left 1s;
    opacity: 1;
    transform: translateX(0);
}

.close-alert {
    left: -1500px;
    transition: left 1s;
    opacity: 0;
    transform: translateX(-100%);
}

.success {
    color: green;
}

.error {
    color: darkred;
}