.edit-button-container {
    position: relative;

    .edit-component-btn-container {
        position: absolute;
        opacity: 0;
        transition: opacity 1s ease-in-out;
        right: 70px;
        top: 40px;
        z-index: 999;


        .edit-component-btn {
            padding: 10px 35px;
            border-radius: 20px;
            border: none;
            background-color: #7a00ff;
            color: white;
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.80);

            svg {
                font-size: 35px;
            }
        }
    }

    &:hover {
        .edit-component-btn-container {
            opacity: 1;
        }

    }

}
