.header {
    padding: 25px 20px;
    background-color: #0f172a;

    .nav {
        display: flex;
        width: 100%;
        color: #fff;
        font-family: sans-serif;
        font-weight: 700;
        position: relative;

        .logo {
            position: absolute;
            font-size: 20px;
            transition: color .5s ease-in-out;
            left: 0;
            top: 50%;
            transform: translateY(-50%);

            &:hover {
                color: #e5e5e5;
            }
        }
    }
}
@media screen and (min-width: 700px) {

    .nav {
        justify-content: center;

        .nav-links {
            display: flex;
            gap: 20px;
            list-style: none;
            text-decoration: none;

            li {
                padding: 5px;

                .menu-item {
                    transition: color .5s ease-in-out;
                }


                &:hover {
                    .menu-item {
                        color: #e5e5e5;
                    }
                }

                a {
                    text-decoration: none;
                    font-size: 16px;

                    &:hover, &:focus {
                        text-decoration: none;
                        outline: none;
                    }

                    &:active, &:visited {
                        color: #fff;
                    }
                }

            }
        }
    }

    .actions {
        display: none;
    }
}

@media screen and (max-width: 700px) {
    .nav {
        justify-content: end;

        .nav-links {
            z-index: 20;
            position: fixed;
            top: 0;
            right: 0;
            height: 100vh;
            width: 250px;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 30px;
            padding-top: 60px;
            transform: translateX(100%); // Initially hidden
            transition: transform 0.4s ease-in-out;
            background-color: #0f172a;

            li {
                width: 100%;
                text-align: left;
                list-style: none;

                .menu-item {
                    color: #fff;
                    font-size: 18px;
                    padding-top: 10px;
                    padding-bottom: 10px;
                    padding-left: 25px;
                    display: block;
                    width: 100%;
                    transition: background 0.3s ease-in-out;
                    text-decoration: none;

                    &:hover {
                        background-color: #5e5efa; // Highlight on hover
                        color: #fff;
                    }
                }
            }
        }
    }

    // When the menu is open
    .nav-links.open {
        transform: translateX(0);
    }

    .actions {
        display: flex;
        align-items: center;

        .menu-btn {
            display: block;
            background-color: transparent;
            outline: none;
            border: none;

            svg {
                color: #fff;
                font-size: 22px;
                transition: color .5s ease-in-out;
            }

            &:hover {

                svg {
                    color: #e5e5e5;
                }
            }
        }
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 10;
    transition: opacity 0.3s ease-in-out;
}
